.nav{
    background-color: aquamarine;
}

.container {
    position: relative;
}
.centered {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
}